p {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.25rem;
  margin-left: 15px;
}

.input {
  display: flex;
  align-items: center;
  justify-content: center;
}
